<ion-header>
  <ion-toolbar>
    <ion-title>
      Current Budget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(currentBudget$ | async) !== null">
    <ion-row>
      <ion-col class="main" *ngFor="let item of currentBudget$ | async">
        <ion-list>
          <ion-item class="date">
          {{item.paycheckDate | date:'shortDate'}}: Paycheck Date
          </ion-item>
          <ion-item class="paycheck">
            {{item.paycheckAmount | currency}}: Paycheck Amount
          </ion-item>
        </ion-list>
        <ion-list *ngFor="let exp of item.expenses">
          <ion-item class="expense" *ngIf="exp.amount !== null">
            {{exp.amount | currency}}: {{exp.label}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
