<ion-header>
  <ion-toolbar>
    <ion-title>
      Budget Buddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col class="main">
        <ion-item>
          <ion-label>Paycheck Date</ion-label>
          <ion-datetime #pdate="ngModel" [(ngModel)]="payDate" color="secondary" display-format="MM/DD/YY" picker-format="MM DD YY"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-input #payA="ngModel" [(ngModel)]="payAmount" placeholder="Paycheck Amount" type="number"></ion-input>
        </ion-item>
        <ion-row>
          <ion-item>
            <ion-col>
              <ion-input #expense1="ngModel" [(ngModel)]="exp1" placeholder="Expense Amount" type="number"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #expName1="ngModel" [(ngModel)]="expN1" placeholder="Expense Name" type="text"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col>
              <ion-input #expense2="ngModel" [(ngModel)]="exp2" placeholder="Expense Amount" type="number"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #expName2="ngModel" [(ngModel)]="expN2" placeholder="Expense Name" type="text"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col>
              <ion-input #expense3="ngModel" [(ngModel)]="exp3" placeholder="Expense Amount" type="number"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #expName3="ngModel" [(ngModel)]="expN3" placeholder="Expense Name" type="text"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col>
              <ion-input #expense4="ngModel" [(ngModel)]="exp4" placeholder="Expense Amount" type="number"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #expName4="ngModel" [(ngModel)]="expN4" placeholder="Expense Name" type="text"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col>
              <ion-input #expense5="ngModel" [(ngModel)]="exp5" placeholder="Expense Amount" type="number"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #expName5="ngModel" [(ngModel)]="expN5" placeholder="Expense Name" type="text"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col>
              <ion-input #expense6="ngModel" [(ngModel)]="exp6" placeholder="Expense Amount" type="number"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #expName6="ngModel" [(ngModel)]="expN6" placeholder="Expense Name" type="text"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon (click)="saveBudget()" name="checkmark"></ion-icon>
        <!-- <ion-icon *ngIf="currentBudget$ !== null && !addBudget" (click)="addNewBudget()" name="add"></ion-icon> -->
      </ion-fab-button>
    </ion-fab>
</ion-content>
