<ion-header>
  <ion-toolbar>
    <ion-title>
      Budget Buddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col>
    <ion-card class="mainBudget">
    <ion-card-content>
        <ion-item>
          <ion-label>Paycheck Date</ion-label>
          <ion-datetime displayFormat="MMM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-input placeholder="Paycheck Amount" type="number"></ion-input>
        <ion-input placeholder="Expense" type="number"></ion-input>
        <ion-input placeholder="Expense" type="number"></ion-input>
        <ion-input placeholder="Expense" type="number"></ion-input>
        <ion-input placeholder="Expense" type="number"></ion-input>
        <ion-input placeholder="Expense" type="number"></ion-input>
        <ion-input placeholder="Expense" type="number"></ion-input>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addBudget()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
